body{
  padding: 0px;
  margin: 0px;
  background: #e1e1e1;
}

.top-banner{
  background: #222;
  padding: 15px 24px;
  color: white;
  text-align: left;
}
.top-banner h3 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}

.menu-bar {
  background: #e4f4ff;
  padding: 10px 24px;
  text-align: left;
  position: sticky;
  top: 0;
}
.menu-bar a {
  color: rgb(2, 0, 14);
  text-decoration: none;
  padding: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
}

.video-container{
  position: relative;
  z-index: -1;
  top: 0px;
}
.video-container iframe{
  width: 100%;
  height: 90vh;
}
.content{
  padding: 0px 24px;
  text-align: justify;
  font-size: 20px;
}