.header {
    margin: 10px 15px;
    padding: 5px 0;
    background: #00BFFF;
    border-radius: 15px;
}

.header h1 {
    color: blue;
    text-align: center;
    font-family: sans-serif;
}

.container {
    margin: 10px 15px;
    padding: 10px;
    background: #FFFFE0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    border-radius: 15px;
}

.sidebar {
    margin: 10px 0;
    background: #90e07e;
    grid-column: 1 / span 3;
}

.sidebar-list {
    list-style-type: none;
    padding: 10px;
}

.sidebar-item {
    margin: 10px 0;
    background: green;
    padding: 10px;
}

.main-content {
    margin: 10px 15px;
    padding: 10px;
    background: #90e07e;
    grid-column: 4 / span 9;
}

.main-image {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.main-text {
    color: #0b872c;
}

.main-text-color {
    color: #0b872c;
}

.footer {
    margin: 10px 15px;
    padding: 5px 0;
    background: #ecc045;
    border-radius: 15px;
}

.footer h3 {
    color: #b03f25;
    text-align: center;
    font-family: monospace;
}